@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

.navbar {
    height: 60px!important;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}
  
.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}
  
#sidebar.active {
    margin-left: -17rem;
}
  
#content.active {
    width: 100%;
    margin: 0;
  }
  
@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

#map {
    position: fixed;
    width: 100%;
    height: calc(100vh - 60px);
}

.card {
    width: 100%;
}

.markerbtn {
    background: none;
    border: none;
}

.marker {
    background: #fff;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #007bff;
    width: 32px;
    height: 32px;
    transform: rotate(-45deg);
}
  
.marker::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    background-color: #007bff;
}

.scrolly {
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}

.map-view {
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 1;
}

.map-reset {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.carousel-item img {
    height: calc(80vh - 60px)!important;
}

.carousel-indicators {
    position: relative;
}

.carousel-indicators li {
    width: 100px;
}

.carousel-indicators li img {
    height: 50px;
}

.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./home.jpg");
    background-size: cover;
    background-position-y: 40%;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}

.home-header {
    font-family: 'ZCOOL XiaoWei', serif;
    margin-top: calc(25vh - 60px);
    z-index: 999;
    color: black;
    font-size: 7rem;
    opacity: 1;
}

.home-header2 {
    font-size: 4rem;
    margin-top: 0;
}

.footer {
    height: 60px;
    background-color: black;
}

#collapseExample {
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
    background-color: white;
}

.toggleBtn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.map-zoomIn {
    position: absolute;
    bottom: 125px;
    right: 0;
    z-index: 1;
    width: 35px;
    text-align: center;
}

.map-zoomOut {
    position: absolute;
    bottom: 83px;
    right: 0;
    z-index: 1;
    width: 35px;
    text-align: center;
}