.navbar {
    height: 60px!important;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}
  
.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}
  
#sidebar.active {
    margin-left: -17rem;
}
  
#content.active {
    width: 100%;
    margin: 0;
  }
  
@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

#map {
    position: fixed;
    width: 100%;
    height: calc(100vh - 60px);
}

.card {
    width: 100%;
}

.markerbtn {
    background: none;
    border: none;
}

.marker {
    background-color: black;
    border-radius: 1231251px;
    width: 20px;
    height: 20px;
}